doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://static-sns.oss-cn-beijing.aliyuncs.com/common.css')
    link(rel='stylesheet',href='/css/thin.css')
    link(rel='stylesheet',href='/css/private.css')
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
    script(src="/js/thin.js")
    script(src="/jsbuilder/wf.js")
    script(src="/jsbuilder/nl.js")
  body
    wf-header
    page-container
      page-head
        avatar
          block avatar
        page-title
          block page-head
        loginstatus
      block content